<div class="{{ s }}">
  <div id="{{ name  }}" class="nivo-slider-api clearfix">
      {% for item in items %}
        {{ item }}
      {% endfor %}
    </div>
    {% if captions %}
      {%  for key, caption in captions %}
        <div id="{{ key }}" class="nivo-html-caption">
          {{ caption }}
        </div>
      {% endfor %}
    {% endif %}
</div>
